@media screen and (max-width: 600px) {

  h1 {
    font-size: 35px;
  }

  p {
    font-size: 20px;
    text-shadow: 1px 1px rgba(75,175,145,1);
  }

  li {
    padding: 10px;
  }

  li a {
    font-size: 20px;
  }

  legend, label {
    font-size: 20px;
  }

  input[type=submit], #list-button {
    padding: 10px 15px;
  }

  form {
    justify-content: center;
    float: none;
    width: auto;
  }

  #filterBird {
    position: -webkit-sticky;
    position: sticky;
    overflow-x: none;
  }

  #filter {
    overflow: auto;
    margin-right: 2px;
  }
}
