@media screen and (max-width: 600px) {

  h1 {
    font-size: 35px;
  }

  p {
    font-size: 20px;
    text-shadow: 1px 1px rgba(75,175,145,1);
  }

  li {
    padding: 10px;
  }

  li a {
    font-size: 20px;
  }

  legend, label {
    font-size: 20px;
  }

  form {
    min-width: 80%;
    display: block;
  }

  #container {
    display: block;
  }

  #discoverBird {
    display: block;
  }

  #filterBird {
    overflow-x: none;
  }

  #filter {
    overflow: auto;
    margin-right: 2px;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 75px;
  }

  li a {
    font-size: 45px;
  }

  legend {
    font-size: 45px;
  }

  label {
    font-size: 35px;
  }

  input[type="button"] {
    font-size: 30px;
}

  input[type="radio"] {
    border: 0;
    height: 20px;
    width: 20px;
  }

  input[type="checkbox"] {
    border: 0;
    height: 15px;
    width: 15px;
  }

  #species-selector, #spotter, #zip, #date {
    font-size: 28px;
}

footer {
  font-size: 25px;
}
