html {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: url("/images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0;
}

#container {
  display: flex;
  justify-content: space-evenly;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  height: 745px;
}

h1 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 75px;
  color: rgba(115,97,83,1);
  text-shadow: 2px 2px rgba(142,114,97,1);
  text-align: right;
  padding-right: 15px;
}

h2, h3 {
  font-family: 'Nanum Gothic', sans-serif;
  color: rgba(225,233,231,1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center
}

li {
  font-size: 20px;
  padding: 40px;
  display: inline;
}

a, legend, label {
  font-family: 'Abel', sans-serif;
  font-size: 35px;
  color: rgba(225,233,231,1);
  text-decoration: none;
}

label {
  font-size: 25px;
}

a:hover {
  text-transform: uppercase;
  color: rgba(81,158,145,1);
  text-shadow: 1px 1px rgba(225,233,231,1);
}

#nuh-uh {
  cursor: not-allowed;
}

fieldset {
  border: 2px solid rgba(16,105,90,0.7);
  background-color: rgba(75,175,145,0.4);
  align-content: center;
  display: inline;
}

p {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  font-family: 'Cabin', sans-serif;
  font-size: 45px;
  color: rgba(225,233,231,1);
}

img {
  max-width: 300px;
  margin-left: 106px;
}

#knownBird {
  min-width: 150px;
  /* height: 100%; */
}

#filter {
  min-width: 60%;
}

input[type=text]:focus {
  border: 2px solid rgba(63,191,131,1);
}

input[type=button] {
    font-family: 'Abel', sans-serif;
    background-color: rgba(180, 180, 180, 0.25);
    border: 3px solid floralwhite;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#map {
  border: 5px dotted rgba(75,175,145,1);
}

footer {
  position: absolute;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  color: rgba(225,233,231,1);
  width: 100%;
}

/* Following code manipulates the appearance of the profile list table. It's meant to be a table that lists each bird spotted*/

table {
  margin-left:auto;
  margin-right:auto;
  table-layout: fixed;
  border: solid black 1px;
  width: 60%;
}

.hide-border {
  border: none;
}

#profile-list h2{
  margin-left:auto;
  margin-right:auto;
  table-layout: fixed;
  width: 60%;
}

td img {
  width: 5em;
}

#discoverBird {
  margin: auto;
  padding: 5px;
  max-width: 550px;
  align-content: center;
}

/* aside {
  float: left;
} */

/* rgba(115,97,83) --> grey/brown */
/* rgba(142,114,97,0.5) --> lighter grey/brown */
/* rgba(16,105,90) --> green/blue */
/* rgba(75,175,145) --> robins egg */
/* rgba(225,233,231) --> pale pale blue/almost white */

/* font-family: 'Abel', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Nanum Gothic', sans-serif; */
